<div>
  <h3>
    <%= link_to  question.title, question %>
  </h3>
  </p>
    <%= question.content  %>
  <p>
  <% unless current_user == question.user %>
    <%= form_for question , url: reaction_question_path(question) ,local: true, method: :get do |f| %>
      <%= f.submit :upvote, class: "btn  upvote", title: question.reactions.upvotes.count %>
      <%= question.reaction_count %>
      <%= f.submit :downvote, class: "btn  downvote", title: question.reactions.downvotes.count  %>
    <% end %>
  <% end %>
  <% if question.file.attached? %>
    <%= link_to  question.file.filename, url_for(question.file) %>
  <% end %><br>
   <p>
      <span>Posted by <%= link_to question.user.name, questions_user_path(question.user) %></span> <%= time_ago_in_words(question.published_at)-%> ago in 
        <% question.topics.each do |topic|  %>
          <span class="badge badge-danger p-2"><%= link_to topic.name, questions_topic_path(topic), class: "text-white" %></span>
        <% end %><br>
        <% if question.editable? && question.user == current_user %>
        <%= link_to "Edit", edit_question_path(question), class: 'btn btn-warning' %>
        <% end %>
    </p>
  <p><%= question.comments.count %> comments</p><br>
  <small>Submitted <%= time_ago_in_words(question.created_at) %> ago</small><br>
</div>
<hr class="my-4">
