<div>
  <h3>
    <%= link_to  question.title, question %>
  </h3>
  </p>
    <%= question.content  %>
  <p>
  <% if logged_in? && !question.posted_by?(current_user) %>
    <%= form_for question , url: reaction_question_path(question) ,remote: true, method: :get, html: { class: "vote" } do |f| %>
      <%= f.submit :upvote, class: "btn  upvote", title: question.reactions.upvotes.count %>
      <span class="reaction_count"><%= question.reaction_count %></span>
      <%= f.submit :downvote, class: "btn  downvote", title: question.reactions.downvotes.count  %>
    <% end %>
  <% else %>
    <p><strong>Votes : </strong><%= question.reaction_count %></p>
  <% end %>
  <% if question.file.attached? %>
    <%= link_to  question.file.filename, url_for(question.file) %>
  <% end %>
  <% if question.editable? && question.user == current_user %>
    <%= link_to "Edit", edit_question_path(question), class: 'btn btn-warning' %>
  <% end %>
  <hr class="my-2 w-50">
   <p>
      <span>Posted by <%= link_to question.user.name, question.user %></span> <%= time_ago_in_words(question.published_at)-%> ago in
        <% question.topics.each do |topic|  %>
          <span class="badge badge-danger p-2"><%= link_to topic.name, questions_topic_path(topic), class: "text-white" %></span>
        <% end %><br>
    </p>
  <p>
    <button type="button" class="btn btn-dark">
      Answers <span class="badge badge-light"><%= question.answers.size %></span>
    </button>
    <button type="button" class="btn btn-dark">
      Comments <span class="badge badge-light"><%= question.comments.size %></span>
    </button>
  </p>
</div>
<hr class="my-2 border-danger">
