<div>
  <h3>
    <%= link_to  question.title, question %>
  </h3>
  </p>
    <%= question.presenter.markdown_content  %>
  <p>

  <%= render  "shared/vote", question: question %>
  <% if question.file.attached? %>
    <% if question.file.blob.content_type =~ /image/ %>
      <strong>Attached: </strong><%= question.file.filename %><br>
      <%= link_to  image_tag(question.file, size: "200"), url_for(question.file), target: :_blank %>
    <% else %>
      <strong>Attached: </strong><%= link_to  question.file.filename, url_for(question.file), target: :_blank %>
    <% end %>
  <% end %>
  <br>
  <hr class="my-2">
  <% if question.editable? && question.user == current_user %>
    <%= link_to "Edit", edit_question_path(question), class: 'btn btn-warning' %>
    <hr class="my-2 w-50">
  <% end %>
   <p>
      <span>Posted by <%= link_to question.user.name, question.user %></span> <%= time_ago_in_words(question.published_at)-%> ago in
        <% question.topics.each do |topic|  %>
          <span class="badge badge-danger p-2"><%= link_to topic.name, questions_topic_path(topic), class: "text-white" %></span>
        <% end %><br>
    </p>
  <p>
    <button type="button" class="btn btn-dark">
      <a class="text-white" href="<%= question_path(question) %>#answers">Answers <span class="badge badge-light"><%= question.answers.published.size %></span></a>
    </button>
    <button type="button" class="btn btn-dark text-white">
      <a class="text-white" href="<%= question_path(question) %>#comments">Comments <span class="badge badge-light"><%= question.root_comments.published.size %></span></a>
    </button>
  </p>
</div>
<hr class="my-2 border-danger">
