<div class="question-container">
  <%= render  "shared/errors", object: @question %>
  <div>Edit your question<br></div>
  <%= form_for @question, local: true do |f| %>
    <div class="form-field question-field">
      <%= f.text_field :title, placeholder: "title", class: "form-control" %>
    </div>
    
    <div class="form-field question-field" >
      <%= f.text_area :content, placeholder: "content", class: "form-control" %>
    </div>

    <div class="form-field question-field">
      <%= f.label :topics %>
      <%= f.text_field :topic_names, id: "tag-autocomplete", data: {jsonurl: "/topics"} %>
    </div>

    <div class="form-field">
      <%= f.file_field :pdf_file, class: "form-control-file" %><br>
    </div>


    <%= f.submit "Save", class: "btn btn-danger" %>

    <%= javascript_pack_tag "question" %>
  <% end %>
</div>
