<div class="question-container">
  <%= render  "shared/errors", object: @question %>
  <div>Post your question<br></div>
  <%= form_with scope: :question, url: questions_url, local: true do |f| %>
    <div class="form-field question-field">
      <%= f.text_field :title, placeholder: "title", class: "form-control" %>
    </div>
    
    <div class="form-field question-field" >
      <%= f.text_area :content, placeholder: "content", class: "form-control", title: "Markdown Format", data: { toggle: "tooltip" }  %>
    </div>

    <div class="form-field question-field">
      <%= f.label :topics %>
      <% if @question.errors.any? %>
        <%= f.text_field :topic_names, id: "tag-autocomplete", data: {jsonurl: topic_index_path}, value: params[:question][:topic_names], title: "Comma seperated topics", data: { toggle: "tooltip" } %>
      <% else %>
        <%= f.text_field :topic_names, id: "tag-autocomplete", data: {jsonurl: topic_index_path}, title: "Comma seperated topics", data: { toggle: "tooltip" } %>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.file_field :file, class: "form-control-file" %><br>
    </div>


    <%= f.submit "Publish", class: "btn btn-danger" %>
    <%= f.submit "Draft", class: "btn btn-primary" %>

    <% content_for :head do %>
      <%= javascript_include_tag "question" %>
    <% end %>
    
  <% end %>
</div>
