<div>
  <div class="jumbotron question-container">
    <%= render  "shared/notice", object: @question %>
    <div class = 'row'>
      <div class="col-md-10">
        <h1 class="display-3"><%= @question.title %></h1>
      </div>
    </div>

    <p class = 'font-weight-bold'>
      <span>Posted by <%= link_to @question.user.name, (@question.user) %></span> <%= time_ago_in_words(@question.published_at)-%> ago in
        <% @question.topics.each do |topic|  %>
          <span class="badge badge-danger p-2"><%= link_to topic.name, questions_topic_path(topic), class: "text-white" %></span>
        <% end %><br>
        <% if @question.editable? && @question.user == current_user %>
        <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-warning' %>
        <% end %>
         <% if current_user.admin? && !@question.unpublished?  %>
          <span class="btn btn-danger mt-2"><%= link_to  "Unpublish", unpublish_admin_question_path(@question), class: "text-white" %></span>
        <% end %>
    </p>

    <%= render  "shared/vote", question: @question %>

    <p class="mt-4 lead"><%= @question.presenter.markdown_content  %></p>

    <%= render  "shared/attachment", file: @question.file %>

    <hr class="my-2">

    <%= render  "shared/report", abuseable: @question, message: "Report Question" %>

    <p class="lead">
      <br>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#answers">Answers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content m-2">
        <div class="tab-pane fade show active" id="answers">
          <% if logged_in? && !@question.answered_by_user?(current_user)%>
            <%= form_for [@question, Answer.new] do |f| %>
              <div class="form-group">
                <%= f.text_area :body, placeholder: "Write your answer", class: "form-control question-field", title: "Markdown Format", data: { toggle: "tooltip" } %>
              </div>
              <%= f.submit "Answer", class: "btn btn-danger" %>
            <% end %>
          <% end %>
          <hr class="my-2">
          <% if @question.answers.any? %>
            <h5>Answers</h5>
            <hr class="my-2 border-danger w-50">
            <%= render @question.answers.includes([:user, :comments]).order_by_vote %>
          <% else %>
            <h5>No Answers</h5>
          <% end %>
        </div>
        <div class="tab-pane fade show" id="comments">
            <% if logged_in? %>
              <%= form_for [@question, Comment.new] do |f| %>
                <div class="form-group">
                  <% if params[:parent_commentable_id].to_i == @question.id && params[:parent_commentable_type] == "Question"  %>
                    <%= f.text_area :body, placeholder: "Add a comment", class: "form-control question-field", value: params[:comment_body] %>
                  <% else %>
                    <%= f.text_area :body, placeholder: "Add a comment", class: "form-control question-field" %>
                  <% end %>
                </div>
                <% #FIXME_AB: I18n -%>
                <%= f.submit "Add Comment", class: "btn btn-primary" %>
              <% end %>
            <% end %>
            <br>
            <% if @question.comments.any? %>
              <h3 class="display-5">Comments</h3>
              <ul>
                <%= render @question.comments.includes([:user]) %>
              </ul>
            <% else %>
              <h5>No Comments</h5>
            <% end %>
        </div>
      </div>
    </p>
  </div>

  <% content_for :head do %>
    <%= javascript_include_tag "comments" %>
    <%= javascript_include_tag "answer_comments" %>
  <% end %>

</div>
