<%= render  "shared/notice", object: @question %>
<div>
  <h3>
   <%= @question.title %>
  </h3>
  </p>
    <%= @question.content  %>
  <p>
  <p>
    <%= @question.reaction_count  %>
  </p>
  <% #FIXME_AB: for voting use ajax. user himself can not vote. -%>
  <%= form_for @question , url: reaction_question_path(@question) ,local: true, method: :get do |f| %>
    <%= f.submit :upvote %>
    <%= f.submit :downvote %>
  <% end %>
    <h3>Comments</h3>
    <%= form_for [@question, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment" %><br/>
    <% #FIXME_AB: I18n -%>
    <%= f.submit "Add Comment" %>
  <% end %>

  <ul>
    <%= render @question.comments %>
  </ul>
  <% #FIXME_AB: use content_for :js to include this js in page head tag -%>
      <%= javascript_pack_tag "comments" %>

</div>
