  <li class='pl-2 border-left border-warning list-unstyled ' id="comment-<%= comment.id %>">
    <% if comment.posted_by?(current_user) %>
      <strong><%= link_to "#{comment.user.name}🎙", comment.user, class: "text-danger" %></strong><br>
    <% else %>
      <strong><%= link_to comment.user.name, comment.user, class: "text-success" %></strong><br>
    <% end %>
    <%= comment.body %> -
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
    <% if logged_in? && current_user != comment.user %>
      <%= form_for @question , url: reaction_comment_path(comment) ,remote: true, method: :get, html: {class: "vote"} do |f| %>
        <%= f.submit :upvote, class: "btn  upvote", title: comment.reactions.upvotes.count, data: { toggle: "tooltip" } %>
        <span class="reaction_count"><%= comment.reaction_count %></span>
        <%= f.submit :downvote, class: "btn  downvote", title: comment.reactions.downvotes.count, data: { toggle: "tooltip" } %>
      <% end %>
    <% else %>
     <br><strong>Votes : </strong><%= comment.reaction_count %>
    <% end %>
    <br>
    <% if logged_in? && !comment.reported_by?(current_user) && !comment.posted_by?(current_user) %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment-<%= comment.id %>-report-abuse">
        Report Abuse
      </button>

      <div class="modal fade" id="comment-<%= comment.id %>-report-abuse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Report Comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_for @question.abuse_reports.new , local: true, url: report_abuse_comment_path(comment), method: :get do |f| %>
              <div class="modal-body">
                  <%= f.text_area :details, class: "form-control" %>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Report", class: "btn btn-primary" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


    <% if params[:parent_commentable_id].to_i == comment.id && ["Comment", "Answer"].include?(params[:parent_commentable_type]) %>
      <div class="reply-btn nested pre-filled text-success">Reply</div>
    <% else %>
      <div class="reply-btn nested text-success">Reply</div>
    <% end %>
    <div class="reply-form m-2 ">
      <%= form_for [comment, Comment.new] do |f| %>
        <div class="form-group">
          <% if params[:parent_commentable_id].to_i == comment.id && ["Comment", "Answer"].include?(params[:parent_commentable_type]) %>
            <%= f.text_area :body, placeholder: "Add a Reply", class: "form-control reply-comment-field", value: params[:comment_body] %>
          <% else  %>
            <%= f.text_area :body, placeholder: "Add a Reply", class: "form-control reply-comment-field" %>
          <% end  %>
        </div>
        <%= f.submit "Reply", class: "btn btn-danger"  %>
      <% end %>
    </div>
    <ul class="m-2">
        <%= render comment.comments.published.includes([:user]) %>
    </ul>

  </li>
