<%= form_with(model: @user, url: update_password_path, local: true) do |form| %>

  <%= render 'shared/errors', object: @user %>

  <%= form.hidden_field :user_id, :value => @user.id %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit 'Update' %>
  </div>
<% end %>
