<div class="col-7">
<%= render 'shared/notice' %>
<div class="card bg-light mb-3"">
  <div class="card-header"><h3>Login</h3></div>
  <div class="card-body">
    <p class="card-text">Login to ask questions and connect with people who contribute unique insights and quality answers.</p>
  </div>
</div>
<div class="depot_form">
  <%= form_tag do %>
    <div class="from_group">
      <%= label_tag :email, 'Email:' %>
      <%= text_field_tag :email, params[:email], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password], class: "form-control" %>
    </div>
    <div class="form-group form-check">
      <%= check_box_tag :remember, class: "form-check-inputs" %> Remember
    </div>
    <%= submit_tag "Login", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Forgot Password', forgot_password_path %>
</div>
</div>
