<div class="container-fluid user-container">
  <%= render 'shared/notice' %>
  <%= render 'shared/errors', object: current_user %>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar, class: "rounded-circle", size: "200") %>
          <% end %>
          <%= form_for :user, url: set_avatar_user_path(current_user), local: true, html:{id: 'avatar_form' } do |f| %>
            <%= f.file_field :avatar, class: "form-control-file" %>
          <% end %>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-4" style="margin-top:20px;">
          <div class="row user-info">
            <strong>Name:</strong>
            <%= current_user.name %>
          </div>
          <div class="row user-info">
            <strong>Email:</strong>
            <%= current_user.email %>
          </div>
  
          <div class="row user-info">
            <strong>Authentication token:</strong>
            <span class="clipboard-btn badge badge-danger" data-toggle="tooltip" title="Click to copy" data-clipboard-action="copy" data-clipboard-target="#auth-token">
            <span id="auth-token"><%= current_user.auth_token %></span>
            </span>
          </div>


          <div class="row user-info">
            <%= form_for :user, url: set_topics_user_path(@current_user.id), local: true do |f| %>
              <%= f.label :topics %>
              <% #FIXME_AB: use basic presenter gem for current user so that you can do current_user.presenter.topics_list -%>
              <%= f.text_field :topic_names, id: "tag-autocomplete", data: {jsonurl: topic_index_path }, value: current_user.topics.map(&:name).join(", "), title: "Comma seperated topics", data: { toggle: "tooltip" } %>
              <%= f.submit "Add Topics"%>
            <% end %>
          </div>
        </div>
      </div>



    </div>

  </div>

  <hr class="my-4 border-white">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#questions">Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#unpublished-questions">Unpublished Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#drafts">Drafts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#answers">Answers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#transaction-history">Transaction History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#following">Following <span class="badge badge-dark"><%= current_user.followed_users.size %></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#followers">Followers <span class="badge badge-dark"><%= current_user.followers.size %></span></a>
    </li>
  </ul>
  
  <div id="myTabContent" class="tab-content mt-1">
    <div class="tab-pane fade show active" id="questions">
      <% if current_user.questions.published.any? %>
        <%= render current_user.questions.published.includes([:file_attachment, :reactions, :topics, :question_topics, :answers, :comments]) %>
      <% else %>
        <h5>No Questions</h5>
        <%= link_to  "Ask Question", new_question_path %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="unpublished-questions">
      <% if current_user.questions.unpublished.any? %>
        <%= render current_user.questions.unpublished.includes([:file_attachment, :reactions, :topics, :question_topics, :answers, :comments]) %>
      <% else %>
        <h5>No Unpublished Questions</h5>
      <% end %>
    </div>

    <div class="tab-pane fade" id="drafts">
      <%= render  "questions/draft", drafts: current_user.questions.draft %>
    </div>

    <div class="tab-pane fade" id="answers">
      <% #FIXME_AB: move this if else inside partial -%>
      <%= render "answers/user_answers", user_answers: current_user.answers %>
    </div>
    <div class="tab-pane fade" id="transaction-history">
      <table class="table table-hover border-danger">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Credits</th>
            <th scope="col">Credit Balance</th>
            <th scope="col">Transactable</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <% #FIXME_AB: make a scope in credit transactions .reverse_chronological -%>
          <%= render current_user.credit_transactions.includes([:transactable]).reverse_chronological %>
        </tbody>
      </table>
      <strong>Credit Balance : <%= current_user.credit_balance %></strong>
    </div>
    <div class="tab-pane fade" id="following">
      <%= render current_user.followed_users %>
    </div>
    <div class="tab-pane fade" id="followers">
      <%= render current_user.followers %>
    </div>
  </div>


  <% content_for :head do %>
    <%= javascript_include_tag 'current_user_profile.js' %>
  <% end %>


</div>
