<div class="container">
<%= render 'shared/notice' %>
<%= render 'shared/errors', object: @current_user %>
<div class="row">
  <div class="col-md-3">
  <% if @current_user.avatar.attached? %>
  <strong>Avatar:</strong>
  <%= image_tag url_for(@current_user.avatar) %>
  <% end %>
  </div>
  <div class="col-md-4">
  <div class="row">
  <strong>Name:</strong>
  <%= @current_user.name %>
</div>
  </div>
</div>

<div class="row">
  <strong>Name:</strong>
  <%= @current_user.name %>
</div>

<div>
  <strong>Email:</strong>
  <%= @current_user.email %>
</div>

<div>
  <strong>User type:</strong>
  <%= @current_user.user_type %>
</div>

<div>
  <strong>Credit:</strong>
  <%= @current_user.credit_balance %>
</div>

<div>
  <strong>Followers count:</strong>
  <%= @current_user.followers_count %>
</div>

<%= form_for :user, url: set_avatar_user_path(@current_user.id), local: true, html:{id: 'avatar_form' } do |f| %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
<% end %>



<%= form_for :user, url: set_topics_user_path(@current_user.id), local: true do |f| %>
  <%= f.label :topics %>
  <%= f.text_field :topic_names, id: "tag-autocomplete" %>
  <%= f.submit :attach_topics %>
<% end %>

<%= link_to 'Logout', logout_path, method: :delete %>

<%= javascript_include_tag 'user_dashboard' %>
<%= javascript_include_tag 'autocomplete' %>
</div>