<div>
<%= render 'shared/notice' %>
<%= render 'shared/errors', object: @current_user %>
  <% if @current_user.avatar.attached? %>
  <strong>Avatar:</strong>
  <%= image_tag url_for(@current_user.avatar) %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user.email %>
</p>

<p>
  <strong>User type:</strong>
  <%= @current_user.user_type %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @current_user.credit_balance %>
</p>

<p>
  <strong>Followers count:</strong>
  <%= @current_user.followers_count %>
</p>

<%= form_for :user, url: set_avatar_user_path(@current_user.id), local: true, html:{id: 'avatar_form' } do |f| %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
<% end %>

<%= form_for :user, url: set_topics_user_path(@current_user.id), local: true do |f| %>
  <%= f.label :topics %>
  <%= f.select :topic_ids, Topic.all.collect { |c| [ c.name, c.id ] }, {}, multiple: true %>
  <%= f.submit :attach_topics %>
<% end %>

<%= link_to 'Logout', logout_path, method: :delete %>

<%= javascript_include_tag 'user_dashboard' %>