<% #FIXME_AB: dont use @current_uesr -%>
<div class="container-fluid user-container">
  <%= render 'shared/notice' %>
  <%= render 'shared/errors', object: current_user %>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar, class: "rounded-circle", size: "200") %>
          <% end %>
          <%= form_for :user, url: set_avatar_user_path(current_user), local: true, html:{id: 'avatar_form' } do |f| %>
            <%= f.file_field :avatar, class: "form-control-file" %>
          <% end %>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-4" style="margin-top:20px;">
          <div class="row user-info">
            <strong>Name:</strong>
            <%= current_user.name %>
          </div>
          <div class="row user-info">
            <strong>Email:</strong>
            <%= current_user.email %>
          </div>

          <div class="row user-info">
            <strong>User type:</strong>
            <%= current_user.user_type %>
          </div>

          <div class="row user-info">
            <strong>Credit:</strong>
            <%= current_user.credit_balance %>
          </div>

          <div class="row user-info">
            <strong>Followers count:</strong>
            <%= current_user.followers_count %>
          </div>

          <div class="row user-info">
            <%= form_for :user, url: set_topics_user_path(@current_user.id), local: true do |f| %>
              <%= f.label :topics %>
              <%= f.text_field :topic_names, id: "tag-autocomplete", data: {jsonurl: "/topics"}, value: current_user.topics.map(&:name).join(",") %>
              <%= f.submit "Add Topics"%>
            <% end %>
          </div>
        </div>
      </div>



    </div>

  </div>


  <hr class="my-4">
  <h3>Questions</h3>
  <hr class="my-5">
  <%= render current_user.questions.published %>

<%= javascript_pack_tag 'current_user_profile.js' %>


</div>
