<%= render  "shared/errors", object: @question %>
<div>Post your question<br></div>
<%= form_with scope: :question, url: question_create_url, local: true do |f| %>
  <div class="form-field">
    <%= f.text_field :title, placeholder: "title", class: "form-control" %>
  </div>
  
  <div class="form-field">
    <%= f.text_area :content, placeholder: "content", class: "form-control" %>
  </div>

  <div class="form-field">
    <%= f.label :topics %>
    <%= f.text_field :topic_names, id: "tag-autocomplete" %>
    <%= f.select :topic_ids, Topic.all.collect { |c| [ c.name, c.id ] }, {}, multiple: true %>
  </div>

  <div class="form-field">
    <%= f.file_field :pdf_file, class: "form-control-file" %>
  </div>


  <%= f.submit %>
  <%= f.submit :draft %>
<% end %>

<%= javascript_include_tag 'autocomplete' %>
