<% if logged_in? && !abuseable.reported_by?(current_user) && !abuseable.posted_by?(current_user) %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#question-report-abuse">
    Report Abuse
  </button>

  <div class="modal fade" id="question-report-abuse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= message %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <% if abuseable.is_a? Question %>
          <%= form_for abuseable.abuse_reports.new , local: true, url: report_abuse_question_path(abuseable), method: :get do |f| %>
            <div class="modal-body">
              <%= f.text_area :details, class: "form-control" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Report", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% elsif abuseable.is_a? Answer %>
          <%= form_for abuseable.abuse_reports.new , local: true, url: report_abuse_answer_path(abuseable), method: :get do |f| %>
            <div class="modal-body">
              <%= f.text_area :details, class: "form-control" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Report", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% elsif abuseable.is_a? Comment %>
          <%= form_for abuseable.abuse_reports.new , local: true, url: report_abuse_comment_path(abuseable), method: :get do |f| %>
            <div class="modal-body">
              <%= f.text_area :details, class: "form-control" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Report", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
         
      </div>
    </div>
  </div>
<% end %>