<div class="display-container">
  <%= render  "shared/notice" %>
   <% if current_user.stripe_id %>
    <% Stripe::Customer.retrieve(current_user.stripe_id).sources.data.each do |card| %>
      <div class="mt-2">
        Card type: <%= card.brand %>
      </div>
      <div class="mt-2">
        Last 4 digits: <%= card.last4 %>
      </div>
      <div class="mt-2">
        Expiry Month: <%= card.exp_month %>
      </div>
      <div class="mt-2">
        Expiry year: <%= card.exp_year %>
      </div>
      <hr class="border-danger w-50">
      <%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
        <%= link_to "Change Card", add_payment_method_path, remote: true, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% else %>
    <h5>No Card Set up</h5>
    <%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
      <%= link_to "Add Card", add_payment_method_path, remote: true, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
