<tr>
  <th><%= link_to user.name, user %></th>
  <th><%= user.email %></th>
  <th><%= user.credit_balance %></th>
  <th><%= user.user_type %></th>
  <th>
    <% unless user.disabled %>
      <span class="badge badge-success"><%= link_to  "Enabled", disable_admin_user_path(user), class: "text-white", title: "Click to toggle disabled status", data: { toggle: "tooltip" } %></span>
    <% else %>
      <span class="badge badge-danger"><%= link_to  "Disabled", enable_admin_user_path(user), class: "text-white", title: "Click to toggle disabled status", data: { toggle: "tooltip" } %></span>
    <% end %>
  </th>
  <th><%= link_to "Manage", admin_user_path(user), class: "badge badge-primary"  %></th>
</tr>