<!DOCTYPE html>
<html>
  <head>
    <title>Prashna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% #FIXME_AB: read about these two tags and tell me -%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'notification' %>
    <%= javascript_include_tag 'vote' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= yield :head %>
  </head>
  <body>
    <div id = 'page-body'>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark top-navbar">
        <div class="logo">
          <%= link_to  "Prashna", root_path, class: "navbar-brand" %>
        </div>

        <div id="searchbar">
          <%= form_with scope: :question, url: search_questions_url , local: true, method: :get do |f| %>
            <%= f.search_field :search, class: "w-75", placeholder: "Type and enter to search" , value: params.dig(:question, :search), required:true, pattern:".*\S+.*", oninvalid:"this.setCustomValidity('Please enter a term to search')" %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <% if logged_in? %>
            <% if current_user.admin? %>
              <li class="nav-item active"><%= link_to 'Admin', admin_path, class: "nav-link" %></li>
            <% else %>
              <li class="nav-link-not-admin"></li>
            <% end %>
            <li class="nav-item active"><%= link_to 'Buy Credits', buy_index_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to 'Ask Question', new_question_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to 'Drafts', drafts_questions_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to 'Profile', my_profile_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to 'Browse', browse_path, class: "nav-link", data: { toggle: "tooltip" }, title:"Questions posted by followed users" %></li>
            <li class="nav-item active"><%= link_to 'Logout', logout_path, method: :delete, class: "nav-link", data: {confirm: "Are you sure?"} %></li>
            <li class="nav-item active mt-1">
              <%= image_tag  "notifications-30.png", id:"notification-bell" %>
            </li>
            <% else %>
            <li class="nav-link-not-logged"></li>
            <li class="nav-item active"><%= link_to 'Login', login_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to 'Signup', signup_path, class: "nav-link" %></li>
            <% end%>
          </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10">
            <%= yield %>
          </div>
          <div class="col-md-2">
            <% if logged_in? %>
            <div id="notifications">
              <ul>
                <% if current_user.notifications.not_viewed.any? %>
                <%= render current_user.notifications.not_viewed %>
                <% else %>
                <li class="list-group-item d-flex justify-content-between align-items-center">You have no notifications</li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if logged_in? %>
    <%= button_to "Refresh Notification", user_notifications_path(current_user), method: :get, remote: true , class: "refresh-notifications", data: { refresh_time: ENV["notification_refresh_time_secs"]+"000" } %>
    <% end %>

  </body>
</html>
