<!DOCTYPE html>
<html>
  <head>
    <title>Prashna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'classes/auto_submit_form' %>
    <%= javascript_include_tag 'modules/utils' %>
    <%= javascript_include_tag 'classes/autocomplete' %>
    <%= javascript_include_tag 'classes/collapsible' %>
    <%= javascript_include_tag 'classes/persistent_action' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="logo">
        <%= link_to  "Prashna", root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <% if logged_in? %>
              <li class="nav-item active"><%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %></li>
              <li class="nav-item active">
                <img id="notification-bell" width="30" height="30" src="https://www.materialui.co/materialIcons/social/notifications_white_192x192.png">
              </li>
            <% else %>
              <li class="nav-item active"><%= link_to 'Login', login_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to 'Signup', signup_path, class: "nav-link" %></li>
            <% end%>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-2">
          <% if logged_in? %>
            <div id="notifications">
              <ul>
                <%= render  current_user.notifications.not_viewed %>
              </ul>
            </div>
          <% end% >
        </div>
      </div>
    </div>
    
  </body>
  <%= button_to "Refresh Notification", user_notifications_path, method: :get, remote: true , class: "refresh-notifications", data: { refresh_time: ENV["notification_refresh_time_secs"]+"000" } %>
<%= javascript_include_tag 'notification' %>

</html>

